@import "variables";
//nav
nav
{
	margin: 0 auto;
	max-width: 960px;
	transition: opacity .5s;

	z-index: 10;
	ul
	{
		margin-left: auto;
	}
}
//main
#main
{
	text-align: justify;
	p::first-letter
	{
		border: 1px solid rgba(255, 255, 255, .2);
		padding: 3px;
		font-size: 1.5em;
		background-color: rgba(255, 255, 255, .1);
	}
}
.alinea
{
	margin-left: 30px;
	margin-right: 30px;
}
#rubriques
{
	margin: 0 auto;
	max-width: 960px;
}
//photographies
#photographies
{
	img
	{
		max-width: 100%;
		display: block;
		object-fit: cover;
	}
	#carouselPosition
	{
		margin-top: 10px;
		text-align: center;
		width: 100%;
	}
	#carousel
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		#carousel_img
		{
			border: 1px solid white;
			border-radius: 8px;
			max-width: 80%;
			height: 450px;
			object-fit: cover;
		}
		#previous, #next
		{
			border: none;
			border-radius: 50%;
			width: 33px;
			height: 33px;
			background-color: transparent;
			font-size: 1.5em;
			color: white;
			&:hover
			{
				color: #ff4240;
			}
			&:focus
			{
				outline: none;
				box-shadow: none;
			}
		}
	}
}
//footer...
footer
{ 
	padding-left: 30px;
	padding-right: 30px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	min-height: 57px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgb(248, 243, 233);
	transition: bottom 1s;
	z-index: 10;
	p
	{
		color: $footer-color;
	}
	ul
	{
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
		list-style: none;
		li
		{
			margin-left: 20px;
			a
			{
				text-decoration:none; 
				color: $footer-color;
				&:hover
				{
					color: $footer-colorHover;
				}
				img
				{
					vertical-align: middle;
					width: 14px;
					height: 14px;
					opacity: .8;
					&:hover
					{
					opacity: 1;
					}
				}
			}
		}
	}
}
//parallax
.parallax
{
	perspective: 100px;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
.parallax__layer
{
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}
.parallax__layer img
 {
 	margin: 0 auto;
    display: block;
    position: absolute;
    width: 2000px;
    bottom: 0;
    left: 50%;
    margin-left: -1000px;
}
.parallax__cover
{
	background: #101a31;
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 2;
}
.parallax__layer__1
{
  	transform: translateZ(-250px) scale(3.5);
}
.parallax__layer__2
{
  	transform: translateZ(-200px) scale(3);
}
.parallax__layer__3
{
  	transform: translateZ(-150px) scale(2.5);
}
.parallax__layer__4
{
  	transform: translateZ(-100px) scale(2);
}
.parallax__layer__5
{
  	transform: translateZ(-50px) scale(1.5);
}
.parallax__layer__6
{
  	transform: translateZ(0px) scale(1);
}
.parallax__layer__7
{
  	transform: translateZ(0px) scale(1);
}
//onglets
.nav-tabs
{
	border-bottom: none;
}
.btn
{  
	margin-bottom: 1em;
	margin-left: 2px;
	border-radius: 8px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: white;
	display: inline-block;
	color: black;
	&:hover
	{
		border: 1px solid white;
		border-bottom: 1px solid #101a31;
		color: white;
		background-color: #101a31;
	}
	&:focus
	{
		outline: none;
		box-shadow: none;
	}
}
.activeOnglet
{
	border: 1px solid white;
	border-bottom: 1px solid #101a31;
	color: white;
	background-color: #101a31;
}
//return top button
.button_return
{
	border: 2px solid #ff4240;
	border-radius: 50%;
	position: fixed;
	bottom: 60px;
	right: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	color: white;
	background-color: #0d2d7a;
	z-index: 100;
	text-decoration: none;
	user-select : none;
	transition: all 1s;
	&:hover
	{	
		border: 2px solid white;
		color: #0d2d7a;
		background-color: #ff4240;
	}
	&:focus      
	{
		text-decoration: inherit;
		user-select : inherit;
		outline: none;
		box-shadow: none;
	}
}
//contact
#contact
{
	margin-bottom: 75px;
}