@import "variables";
//nav
nav ul
{
	margin-left: auto;
}
//main
#main
{
	text-align: justify;
	p::first-letter
	{
		border: 1px solid rgba(0, 0, 0, .2);
		padding: 3px;
		font-size: 1.5em;
		background-color: rgba(0, 0, 0, .1);
	}
	div
	{
		margin-top: 1em;
	}
}
.alinea
{
	margin-left: 30px;
	margin-right: 30px;
}
//photographies
#photographies
{
	img
	{
		max-width: 100%;
		display: block;
		object-fit: cover;
	}
	#carouselPosition
	{
		margin-top: 10px;
		text-align: center;
		width: 100%;
	}
	#carousel
	{
		display: flex;
		justify-content: space-between;
		align-items: center;
		#carousel_img
		{
			max-width: 80%;
			height: 450px;
			object-fit: cover;
		}
		#previous, #next
		{
			border-radius: 50%;
			width: 33px;
			height: 33px;
		}
	}
}
//footer...
footer
{
	padding-left: 30px;
	padding-right: 30px;
	min-height: 57px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	background-color: rgb(248, 243, 233);
	p
	{
		color: $footer-color;
	}
	ul
	{
		display: flex;
		align-items: baseline;
		flex-wrap: wrap;
		list-style: none;
		li
		{
			margin-left: 20px;
			a
			{
				text-decoration:none; 
				color: $footer-color;
				&:hover
				{
					color: $footer-colorHover;
				}
				img
				{
					vertical-align: middle;
					width: 14px;
					height: 14px;
					opacity: .8;
					&:hover
					{
					opacity: 1;
					}
				}
			}
		}
	}
}
//onglets
.nav-tabs
{
	border-bottom: none;
}
.btn
{  
	outline: 0;
	margin-left: 2px;
	border-radius: 8px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background-color: black;
	display: inline-block;
	color: white;
	&:hover
	{
		border: 1px solid black;
		border-bottom: 1px solid pink;
		color: black;
		background-color: pink;
	}
	&:focus
	{
		outline: none;
		box-shadow: none;
	}
}
.activeOnglet
{
	border: 1px solid black;
	border-bottom: 1px solid pink;
	color: black;
	background-color: pink;
}