.accordion dl {
  border: 1px solid black;
}
.accordion dl:after {
  content: "";
  display: block;
  width: 100%;
  background-color: #9FC6DF;
  }
  
.accordion dd,
.accordion__panel {
  margin-bottom: 2px;
  background-color: #A6C6DD;
  color: white;
  font-size:1em;
}
.accordion p {
  padding:1em 2em 1em 2em;
  color: black;
}
  
.accordion {
  position:relative;
  background-color: #E2A91B;
}

.accordionTitle,
.accordion__Heading {
  background-color:	#F8F3E9 ; 
  text-align: center;
  font-weight: 700; 
  padding: 1em;
  display: block;
  text-decoration: none;
  color: #101832;
  transition: background 0.5s ease-in-out;
  border-bottom: 1px solid #9FA8BD;
}
.accordionTitle:before,
.accordion__Heading:before {
  content: url(../img/shield.png);
  margin-top: -16px;
  position: absolute;
  left: 8px;
  transition: transform 0.3s ease-in-out;
}
.accordionTitle:hover, 
.accordion__Heading:hover {
  color: #a60000;
  text-decoration: none;
}
.accordionTitleActive, 
.accordionTitle.is-expanded {
  background-color: #0D2D7A;
  color: white;
  text-shadow: 1px 0 1px black, -1px 0 1px black, 0 -1px 1px black;
}
.accordionTitleActive:before,
.accordionTitle.is-expanded:before {
  transform:rotate(-450deg);
}

.accordionItem {
  height:auto;
  overflow:hidden; 
  max-height:100em;
  transition: 1s;   
}
      
  @media screen and (min-width:48em) {
        max-height:15em;
      transition:max-height 0.5s
      
  }

.accordionItem.is-collapsed {
  max-height:0;
}
.no-js .accordionItem.is-collapsed {
  max-height: auto;
}
