html, body, header, nav, footer, section, div, span, h1, h2, h3, p, a, blockquote, cite, img, ol, ul, li, form, fieldset, label, legend {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-weight: normal; }

body {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  background-color: #a0a9bc; }

header {
  position: fixed;
  transition: opacity .5s;
  background-color: #F8F9FA;
  z-index: 10;
  transform: translateZ(10px) scale(1); }

#main {
  color: white; }

H1 {
  font-weight: 600; }

H2 {
  margin: 1.8em 0 1em;
  font-size: 1.3em;
  font-weight: 600; }

H3 {
  margin: 0 0 1em;
  font-size: 1.2em; }

small {
  margin-top: 5px;
  display: inline-block; }

nav {
  margin: 0 auto;
  max-width: 960px;
  transition: opacity .5s;
  z-index: 10; }
  nav ul {
    margin-left: auto; }

#main {
  text-align: justify; }
  #main p::first-letter {
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 3px;
    font-size: 1.5em;
    background-color: rgba(255, 255, 255, 0.1); }

.alinea {
  margin-left: 30px;
  margin-right: 30px; }

#rubriques {
  margin: 0 auto;
  max-width: 960px; }

#photographies img {
  max-width: 100%;
  display: block;
  object-fit: cover; }
#photographies #carouselPosition {
  margin-top: 10px;
  text-align: center;
  width: 100%; }
#photographies #carousel {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  #photographies #carousel #carousel_img {
    border: 1px solid white;
    border-radius: 8px;
    max-width: 80%;
    height: 450px;
    object-fit: cover; }
  #photographies #carousel #previous, #photographies #carousel #next {
    border: none;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    background-color: transparent;
    font-size: 1.5em;
    color: white; }
    #photographies #carousel #previous:hover, #photographies #carousel #next:hover {
      color: #ff4240; }
    #photographies #carousel #previous:focus, #photographies #carousel #next:focus {
      outline: none;
      box-shadow: none; }

footer {
  padding-left: 30px;
  padding-right: 30px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 57px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f8f3e9;
  transition: bottom 1s; }
  footer p {
    color: rgba(124, 121, 116, 0.6); }
  footer ul {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    list-style: none; }
    footer ul li {
      margin-left: 20px; }
      footer ul li a {
        text-decoration: none;
        color: rgba(124, 121, 116, 0.6); }
        footer ul li a:hover {
          color: #7c7974; }
        footer ul li a img {
          vertical-align: middle;
          width: 14px;
          height: 14px;
          opacity: .8; }
          footer ul li a img:hover {
            opacity: 1; }

.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.parallax__layer {
  position: absolute;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.parallax__layer img {
  margin: 0 auto;
  display: block;
  position: absolute;
  width: 2000px;
  bottom: 0;
  left: 50%;
  margin-left: -1000px; }

.parallax__cover {
  background: #101a31;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 2; }

.parallax__layer__1 {
  transform: translateZ(-250px) scale(3.5); }

.parallax__layer__2 {
  transform: translateZ(-200px) scale(3); }

.parallax__layer__3 {
  transform: translateZ(-150px) scale(2.5); }

.parallax__layer__4 {
  transform: translateZ(-100px) scale(2); }

.parallax__layer__5 {
  transform: translateZ(-50px) scale(1.5); }

.parallax__layer__6 {
  transform: translateZ(0px) scale(1); }

.parallax__layer__7 {
  transform: translateZ(0px) scale(1); }

.nav-tabs {
  border-bottom: none; }

.btn {
  margin-bottom: 1em;
  margin-left: 2px;
  border-radius: 8px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: white;
  display: inline-block;
  color: black; }
  .btn:hover {
    border: 1px solid white;
    border-bottom: 1px solid #101a31;
    color: white;
    background-color: #101a31; }
  .btn:focus {
    outline: none;
    box-shadow: none; }

.activeOnglet {
  border: 1px solid white;
  border-bottom: 1px solid #101a31;
  color: white;
  background-color: #101a31; }

.button_return {
  border: 2px solid #ff4240;
  border-radius: 50%;
  position: fixed;
  bottom: 60px;
  right: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: white;
  background-color: #0d2d7a;
  z-index: 100;
  text-decoration: none;
  user-select: none;
  transition: all 1s; }
  .button_return:hover {
    border: 2px solid white;
    color: #0d2d7a;
    background-color: #ff4240; }
  .button_return:focus {
    text-decoration: inherit;
    user-select: inherit;
    outline: none;
    box-shadow: none; }

#contact {
  margin-bottom: 75px; }

@media (max-width: 590px) {
  footer {
    justify-content: space-around; }
    footer p {
      line-height: 40px; }
    footer ul {
      justify-content: space-around; }
      footer ul li {
        margin: 10px; } }

/*# sourceMappingURL=style.css.map */
